services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-scoring}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-scoring}
      POSTGRES_DB: ${POSTGRES_DB:-scoring}
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:26.1
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: ${POSTGRES_USER:-scoring}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD:-scoring}
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: ${KC_ADMIN_PASSWORD:-admin}
      KC_FEATURES: organization
    ports:
      - '8080:8080'
    depends_on:
      - postgres

volumes:
  pgdata:
